<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <!--コントローラから渡されたpost_images変数内から1つずつ取り出して、post_image変数へ格納します。-->
          <% @post_images.each do |post_image| %>
            <div class="masonry-block">
              <div class="block block-image v1">
                <div class="block-image">
                  <div class="view view-first">
                    <!--link_toでは、doからendの間が、aタグで囲まれた状態になります。-->
                    <!--結果、attachment_image_tagは、aタグに囲まれたimgタグになります。-->
                    <%= link_to post_image_path(post_image.id) do %>
                      <!--attachment_image_tagは、refile側が用意したヘルパーで、imgタグを作成してくれます。-->
                      <!--post_image変数のimage_idに保存された画像のimgタグを生成します。-->
                      <%= attachment_image_tag post_image, :image %>
                    <% end %>
                  </div>
                </div>
                <div class="block-content">
                  <%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
                  <h3 class="block-title">
                    <%= link_to post_image_path(post_image.id) do %>
                      <i class="fa fa-map-marker"></i>
                      <!--post_image変数のshop_nameカラムを表示します。-->
                      <!--このカラムは、post_imageモデルに定義されています。-->
                      <%= post_image.shop_name %>
                    <% end %>
                  </h3>
                  <!--post_image変数のcaptionカラムを表示します。-->
                  <!--このカラムも、post_imageモデルに定義されています。-->
                  <p><%= post_image.caption %></p>
                  <ul class="inline-meta">
                    <li>By
                      <!--post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示します。-->
                      <!--同様にこのカラムも、post_imageモデルに定義されています。-->
                      <%= post_image.user.name %>
                    </li>
                    <li>
                      <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @post_images %>
        </div>
      </div>
    </div>
  </div>
</section>
